{assign var="pagetitle" value="{$_about_title}"}
{include file="head.tpl"}

<div id="contenttext">

		<h2 class="pagetitle">
			{$_about_welcome}
		</h2>

			{$_about_content}

</div>

{include file="end.tpl"}
