body {
	background-color: #fc9;
	color: #000;
}

a:link {
	color: #c03;
}

a:visited {
	color: #900;
}

.headlink {
	font-size: 20pt;
	font-family: Garamond, Georgia, Times New Roman, Times, Serif;
	color: #990000;
}
div.headlink form > a {
	text-decoration: none;
}

table#translations, table#translations tr, table#translations td, table#translations th {
	border: 1px solid black;
	padding: 2px;
}

table#translations {
	border-collapse: collapse;
}

table#translations tr:not(:first-child):hover {
	background-color: #da7;
}

.personselect {
	width: 270px;
}

.flytknap {
	width: 120px;
	text-align: left;
}

.flytknapright {
	width: 120px;
	text-align: right;
}

.ticketlist {
	font-family: tahoma, verdana, sans-serif;
	font-size: 80%;
}

input.delete {
	border: 1px solid #e00; background: #f77;
}

td.mark {
	text-align: center;
}

tr.headline th {
	background-color: #feb;
}
tr {
	vertical-align: top;
}

input[type="number"] {
	text-align: right;
}

input[type="text"]:disabled, select:disabled {
	text-decoration: line-through;
}

div.nomtext {
	font-size: 0.9em;
	margin-left: 1em;
}

span.atoggle {
	cursor: pointer;
	user-select: none;
}

option.existing {
	background-color: #afa;
}

#tabs {
	background: transparent;
	border: none;
}
#tabs .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #000;
	border-radius: 0px;
}
#tabs .ui-tabs-nav .ui-state-default {
	background: transparent;
	border: none;
}
#tabs .ui-tabs-nav .ui-state-active {
	background: transparent;
	border: none;
}
#tabs .ui-tabs-nav .ui-state-default a {
	color: #a99;
}
#tabs .ui-tabs-nav .ui-state-active a {
	color: #000;
}

div.nextlanguage {
	font-size: 1.3em;
}

textarea.langfocus {
	background: #ff9;
}

textarea.langfocusde {
	background: linear-gradient(to bottom, #bbb 0%, #bbb 33.33%, #fbb 0, #fbb 66.66%, #fdb 0);
}

.glow:hover {
}

input.personexists:enabled {
	background-color: #6c6;
}

input.personunsure:enabled {
	background-color: #ee3;
}

input.persondoesnotexist:enabled {
	background-color: #c66;
}

.ui-autocomplete {
	max-height: 600px ! important;
	max-width: 300px ! important;
	overflow-y: auto ! important;
	/* prevent horizontal scrollbar */
	overflow-x: hidden ! important;
	font-size: 0.8em ! important;
	margin-right: 30px ! important;
}

.autosearchnote {
	color: #999;
	padding-left: 2em;
	font-size: 0.7em;
}

div.descriptionexamples {
	margin-bottom: 4px;
}

div.descriptionexamples a {
	cursor: alias;
}

div.descriptionexamples span {
	font-size: 0.8em;
	color: #321;
	cursor: copy;
}
